# Node.js
node_modules/
dist/
.vite/
.env
.env*
backend/.env
frontend/.env
package-lock.json

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
env/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
